*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1195px;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #251B37;
    color: #372948;
}
h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFECEF;
}
.listagemPecas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.pecasEscolhidas {
    width: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #FFCACA;
}
.valorFinal {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    color: #FFECEF;
}
